<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF">  
  <appenders>  
    <Console name="Console" target="SYSTEM_OUT">  
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>  
    </Console>
    <!-- 触发条件后，归档日志文件，归档地址为filePattern -->
    <RollingFile name="RollingFile" fileName="D:\\logs\app.log"
                     filePattern="D:\\logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
    	<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
    	<Policies>
        	<SizeBasedTriggeringPolicy size="2KB" />
        </Policies>
        <DefaultRolloverStrategy max="20"/>
    </RollingFile>  
  </appenders>  
  <loggers>
    <root level="trace">  
      <appender-ref ref="RollingFile"/>  
    </root>  
  </loggers>  
</configuration>